<!DOCTYPE html>
<html ><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>I am Tang Yao.</title>
</head>

<body>
  <h1>
      <a href="/">I am Tang Yao.</a>
        <span>Some bytes on the Internet.</span>
  </h1>
<ul class="main-navigation">
  <li><a href="/home">Home</a></li>
  <li><a href="/archives">Archives</a></li>
  <li><a href="/about">About</a></li>
</ul>
  
  
 
<span class="footer"> <p> Copyright © 2013 - Tang Yao - </p> </span>

</body></html>
